#schoolHeading {
    font-size: 50px;
    font-weight: bold;
    color: #612c2c;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .heacon   {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #310303;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
       "nav nav nav nav"
       "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    }
  
  #maNav  {
    background-color: rgb(203, 219, 219);
    grid-area: nav;
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  nav ul li  {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  main  {
    background-color: rgb(138, 150, 150);
    grid-area: main;
  }
  #sidebar  {
    background-color: rgb(55, 137, 209);
    grid-area: sidebar;
  }
  #content1  {
    background-color: aquamarine;
    grid-area: content1;
  }
  #content2  {
    background-color: #333;
    grid-area: content2;
  }
  #content3   {
    background-color: bisque;
    grid-area: content3;
  }
  #footer    {
    background-color: beige;
    grid-area: footer;
  }
  .missHea  {
    text-align: center;
    font-size: 50px;
  }
  .missSta   {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-style: oblique;
  }
   .stacon {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #310303;
    font-family: 'Times New Roman', Times, serif;
  }
   img[src="./images/Image of happy  1 (1).png"]  {
    width: 400px;
    display: block;
    margin: auto;
  }
  .staff  {
    text-align: center;
    font-size: 50px;
  }
  .stacon {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #310303;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  img[src="./images/teachingstaff.jpeg"]  {
    width: 300px;
    display: block;
    margin: auto;
  }
  .schoolContent  {
    text-align: center;
    font-size: 50px;
  }
  .schocon  {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
  }
  img[src="./images/a real like aer 0.png"]  {
    width: 350px;
    display: block;
    margin: auto;
  }
  img[src="./images/school logo.png"] {
    width: 250px;
    float: left;
  }
  
  .navbar-default .navbar-nav > li > a{
    color:#e04747;
    padding:15px 15px;
    outline:none;
  }
  .dropdown-menu+a[class="dropdown-toggle"]  {
   color: rgba(194, 194, 44, 0.048);
  }
  
  #dropdown-menu {
    border-radius:1px;
  }
  
  .navbar-default .navbar-nav > li > a:hover{
    color:#3f1717;
    background-color:#861e1e;
  }
  
  
  @media screen and (max-width:768px) and (min-width:100px) {
    
    .main{
      width:25%;
    }
   .navbar-default .navbar-nav > li > a {
      color: #fff;
      outline: none;
     overflow:hidden;
  }
    .navbar {
    overflow:hidden;
      width:25%;
  }
    .navbar ul li{
      position:relative;
    }
      .navbar ul li a{
        margin-left: 15px;
        
      }
      .navbar ul li:active {
     color:green;
      }
    
    
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
    
  .navbar-nav .open .dropdown-menu>li:hover a{
      
      background-color: transparent;
    margin-left:18px;
    color:#fff !important;
    
  }
    .navbar-nav .open .dropdown-menu>li:hover:before{
      font:normal normal normal 14px/1 FontAwesome;
      content:'\f054';
       width:10px;
      height:10px;
      position:absolute;
      left:18%;
      top:46%;
      transform:translate(-50%,-50%);
      color:#e14444;
   
      
    }
    
    
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #e14444;
  }
  }
  
  