/* Styles for the page layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
    grid-template-areas: 
       "nav nav nav nav"
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
    line-height: 1.5;
    font-size: xx-large;
  }
  
  /* Style for the button */
  .button {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: px 0px;
    text-decoration: none;
    border-radius: 4px;
  }
 
  img[src="./images/aboutus.jpeg"]  {
     display: block;
     margin: auto;
  }

  .button:hover {
    background-color: #666;
  }
  #maNav  {
    background-color: rgb(203, 219, 219);
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    grid-area: nav;
    
  }
  .paragraph1  {
    text-align: center;
    font-size: 30px;
    color: #861e1e;
  }  
  
  
  .about-us  {
  text-align: center;
  }
  nav ol li  {
    display: inline;
    font-size: 30px;
    padding: 0px;
    text-align: 
  }
  img[src="./images/school logo.png"] {
    width: 150px;
    float: left;
  }
  #footer  {
    box-sizing: border-box;
    font-size: larger;
   }
   .ending  {
    max-width: 1170px;
    margin: auto;
    padding: 20px;
   }
   .row  {
    display: flex;
    flex-wrap: wrap;
   }
   .ending-col {
    width: 250;
    }
    #footer  {
      box-sizing: border-box;
     }

     
    
    button  {
      display: block;
      margin: auto;
    }

    .svg--source {
      display: none
    }
    
    .svg--icon {
      width: 00%;
      max-width: 5rem;
      height: 0%;
      max-height: 5rem;
      display: block;
      margin: 0 auto;
      fill: currentColor;
    }
    
    .wrapper {
      width: 1px;
      height: 1px;
      display: inline;
      flex-wrap: wrap;
      align-items: cente;
      justify-content: cente;
      padding: 5rem;
    }
    .social-links  {
      justify-content: center;
    }
    .share {
      width: 5rem;
      height: 5rem;
      float: left;
      margin: .5rem 1rem .5rem 0;
      color: #353c4a;
      border: .125rem solid #f3f3f3;
      box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
      border-radius: 50%;
      transition: 250ms;
      
      &:last-child {
        margin-right: 0
      }
      
      &:hover,
      &:focus {
        //background: #f1f1f1;
      }
      
      &:focus {
        outline-color: inherit;
      }
    }
    
    .twitter {
      &:hover,
      &:focus {
        color: #00ACED;
        box-shadow: 0 0 24px 0 #00ACED
      }
    }
    
    .github {
      &:hover,
      &:focus {
        color: #4183c4;
        box-shadow: 0 0 24px 0 #4183c4
      }
    }
    
    .pinterest {
      &:hover,
      &:focus {
        color: #bd081c;
        box-shadow: 0 0 24px 0 #bd081c
      }
    }
    
    .youtube {
      &:hover,
      &:focus {
        color: #cd201f;
        box-shadow: 0 0 24px 0 #cd201f
      }
    }
    
    .facebook {
      &:hover,
      &:focus {
        color: #3b5998;
        box-shadow: 0 0 24px 0 #3b5998
      }
    }
    
    .google {
      &:hover,
      &:focus {
        color: #dd4b39;
        box-shadow: 0 0 24px 0;
      }
       }
   .social-links  {
    text-align: center;
    justify-content: center;
    float: right;
   }
  .clip {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }


  .svg--source {
    display: none
  }
  
  .svg--icon {
    width: 100%;
    max-width: 5rem;
    height: 70%;
    max-height: 5rem;
    display: block;
    margin: 0 auto;
    fill: currentColor
  }
  
  .wrapper {
    width: 10px;
    height: 10px;
    display: inline;
    flex-wrap: wrap;
    align-items: cente;
    justify-content: cente;
    padding: 5rem;
  }
  
  .share {
    width: 5rem;
    height: 5rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
    
    &:last-child {
      margin-right: 0
    }
    
    &:hover,
    &:focus {
      //background: #f1f1f1;
    }
    
    &:focus {
      outline-color: inherit;
    }
  }
  
  .twitter {
    &:hover,
    &:focus {
      color: #00ACED;
      box-shadow: 0 0 24px 0 #00ACED
    }
  }
  
  .github {
    &:hover,
    &:focus {
      color: #4183c4;
      box-shadow: 0 0 24px 0 #4183c4
    }
  }
  
  .pinterest {
    &:hover,
    &:focus {
      color: #bd081c;
      box-shadow: 0 0 24px 0 #bd081c
    }
  }
  
  .youtube {
    &:hover,
    &:focus {
      color: #cd201f;
      box-shadow: 0 0 24px 0 #cd201f
    }
  }
  
  .facebook {
    &:hover,
    &:focus {
      color: #3b5998;
      box-shadow: 0 0 24px 0 #3b5998
    }
  }
  
  .google {
    &:hover,
    &:focus {
      color: #dd4b39;
      box-shadow: 0 0 24px 0 #dd4b39
    }
  }
  .navbar-default .navbar-nav > li > a{
    color:#e04747;
    padding:15px 15px;
    outline:none;
  }
  .dropdown-menu+a[class="dropdown-toggle"]  {
   color: rgba(194, 194, 44, 0.048);
  }
  
  #dropdown-menu {
    border-radius:1px;
  }
  
  .navbar-default .navbar-nav > li > a:hover{
    color:#3f1717;
    background-color:#861e1e;
  }
  ol {
    position: absolute;
    top:20%;
    left:40%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:inline;
    float: left;
  }
  
  ol li {
    list-style: none;
    display: inline-block;
    flex-direction: row;
  }
  
  ul li a {
    text-align:right;
    margin:10px;
    border-radius: 5%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
    line-height: 2.0;
  }
  
  ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
  }
  
  ul li a .fab {
    width: 10%;
    height:10%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }
  
  ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
  }
  
  ul li:nth-child(2) a:hover .fab {
    color: #00aced;
  }
  
  ul li:nth-child(3) a:hover .fab {
    color: #dd4b39;
  }
  
  ul li:nth-child(4) a:hover .fab {
    color: #007bb6;
  }
  
  ul li:nth-child(5) a:hover .fab {
    color: #e4405f;
  }
  